<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-6">
        <label for="inputState">Select Workers</label>

    <label formArrayName="workers" *ngFor="let order of form.controls.workers.controls; let i = index">
      <input type="checkbox" [formControlName]="i">
      id: {{data.workers[i].id}}
      DAYS: {{data.workers[i].availability | json}}
    </label>

    </div>

    <div *ngIf="!form.valid">At least one order must be selected</div>
    <br>
    <button [disabled]="!form.valid">Matching Shifts</button>
  </form>



<!-- <form [formGroup]="matchingForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputState">Select Workers</label>
        <div class="list-group-item" *ngFor="let worker of data.workers">
            <div class="form-check">
              <input class="form-check-input"
              type="checkbox" id="gridCheck">

              <label>
                Worker id:{{ worker.id }}
                <input formControlName="workId" type="text"
                value="worker.id">
              </label>

              <label>
                {{worker.availability}}
                <input class="form-check-label"or="gridCheck"
                type="text" formControlName="availability">
              </label>

            </div>
        </div>
      </div>



      <div class="form-group col-md-6">
          <label for="inputState">Select SHIFTS</label>
          <div class="list-group-item" *ngFor="let s of data.shifts">
              <p >SHIFT id: {{ s.id }} </p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    {{s.day}}
                  </label>
                </div>
          </div>
      </div>

    </div>

        <button type="submit"
        class="btn btn-primary"
        (click)="sendDataPost(matchingGroup)">ADD WORKER</button>


</form> -->

<div class="card">
  <h3>MATCHING SHIFTS/WORKERS</h3>
  <ul *ngIf="matching ">
    <li *ngFor="let w of matching; index as i">
      Worker ID:{{ w.idWorker  }}
      payRate:<span class="badge badge-secondary"> {{ w.payrate }}</span>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          DAY SHIFT : {{ w.shift }}
        </li>
      </ol>


    </li>
  </ul>
</div>

<div>
  <button type="button"
  class="btn btn-primary btn-lg"
  (click)="sendDataPost()">Match Workers</button>
</div>

<h3 *ngIf="this.msmOK">ERRO {{ this.msmOK }}</h3>

<div class="alert alert-success mt-2" role="alert" [hidden]="show">
    | FROM THE SERVER API | {{this.msmOK }} |  {{this.msmERR}} |
</div>

