<mat-toolbar class="nav-app">
  <!-- <i class="fab fa-angular"></i> -->
   <img width="30" alt="Logo" 
    src="assets/logo.png"> 
  
  &nbsp;&nbsp;Prueba TeneJob JM_B
</mat-toolbar>
<!-- <div style="text-align:center">
  </div> -->

  <div class="container">
    <!-- <h2> Welcome to {{ title }}! </h2> -->
    <app-matching></app-matching>
  </div>


<footer class="footer mt-auto py-3 fixed-bottom">
  <div class="container ">
    <span class="text-muted ">prueb@ jm_b </span>
  </div>
</footer>

